# Decision trees

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns
from seaborn import regplot

import statsmodels.formula.api as smf
import statsmodels.api as sm
import statsmodels.stats.multicomp as multi

import scipy
from scipy import stats
from scipy.stats import pearsonr

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import QuantileTransformer
from sklearn.preprocessing import PowerTransformer

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

import researchpy as rp

import plotly.express as px

import statistics

In [2]:
from gapminder import gapminder

In [3]:
df = gapminder

In [4]:
df = df.rename(columns={'lifeExp':'life_exp', 'pop':'population', 'gdpPercap':'gdp_per_cap'})

In [5]:
df.head()

       country continent  year  life_exp  population  gdp_per_cap
0  Afghanistan      Asia  1952    28.801     8425333   779.445314
1  Afghanistan      Asia  1957    30.332     9240934   820.853030
2  Afghanistan      Asia  1962    31.997    10267083   853.100710
3  Afghanistan      Asia  1967    34.020    11537966   836.197138
4  Afghanistan      Asia  1972    36.088    13079460   739.981106