# Supervised Learning

In [299]:
# Use no show analysis data to predict who shows up to appointment

In [300]:
# Use different models

In [301]:
# Load data
# Clean data (find na, find implausible data)
# Normalize data (adjust variance?)
# Split data set into test and validation set (third set?)
# Choose model (initiate model, use model, test model) - different models for different scenarios useful?
# Test model
# Write conclusion

In [302]:
import numpy as np
import pandas as pd

In [303]:
df = pd.read_csv('noshowappointments-kagglev2-may-2016.csv')

In [304]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [305]:
show_raw = df['No-show']

In [306]:
show_raw

0         No
1         No
2         No
3         No
4         No
          ..
110522    No
110523    No
110524    No
110525    No
110526    No
Name: No-show, Length: 110527, dtype: object

In [307]:
data_raw = df.drop('No-show', axis=1)

In [308]:
data_raw

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1

In [309]:
# Visualize data (skewed)
# Clear data (log transformation)

In [310]:
# Scaling / normalization
from sklearn.preprocessing import MinMaxScaler

In [311]:
# Scaling

In [312]:
# Hypothesis testing
# ab test

## Data Wrangling

In [313]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [314]:
df.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [315]:
df = df.rename(columns={'PatientId':'patient_id', 'AppointmentID':'appointment_id', 'Gender':'gender', 
                        'ScheduledDay':'scheduled_day', 'AppointmentDay':'appointment_day', 'Age': 'age', 
                        'Neighbourhood':'neighbourhood', 'Scholarship':'scholarship', 'Hipertension':'hipertension', 
                        'Diabetes':'diabetes', 'Alcoholism':'alcoholism', 'Handcap':'handicap', 'SMS_received':'sms', 
                        'No-show':'show_up'})

In [316]:
# df.rename(columns={'PatientId':'patient_id'}, inplace='TRUE')

In [317]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   patient_id       110527 non-null  float64
 1   appointment_id   110527 non-null  int64
 2   gender           110527 non-null  object
 3   scheduled_day    110527 non-null  object
 4   appointment_day  110527 non-null  object
 5   age              110527 non-null  int64
 6   neighbourhood    110527 non-null  object
 7   scholarship      110527 non-null  int64
 8   hipertension     110527 non-null  int64
 9   diabetes         110527 non-null  int64
 10  alcoholism       110527 non-null  int64
 11  handicap         110527 non-null  int64
 12  sms              110527 non-null  int64
 13  show_up          110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [318]:
# Rename columns
# Format patient_id (text)
# Format appointment_id (text)
# Format scheduled_day (date)
# Format appointment_day (date)
# Format show_up (0,1 from text)

In [319]:
# Format columns (text)
df.patient_id = df.patient_id.astype(str)
df.appointment_id = df.appointment_id.astype(str)

In [320]:
# Format columns (date)
df.scheduled_day = pd.to_datetime(df.scheduled_day)
df.appointment_day = pd.to_datetime(df.appointment_day)

In [321]:
# Format columns (values)
df.show_up = df.show_up.str.replace('Yes', '0')
df.show_up = df.show_up.str.replace('No', '1')
df.show_up = df.show_up.astype(int)

In [322]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   patient_id       110527 non-null  object
 1   appointment_id   110527 non-null  object
 2   gender           110527 non-null  object
 3   scheduled_day    110527 non-null  datetime64[ns, UTC]
 4   appointment_day  110527 non-null  datetime64[ns, UTC]
 5   age              110527 non-null  int64
 6   neighbourhood    110527 non-null  object
 7   scholarship      110527 non-null  int64
 8   hipertension     110527 non-null  int64
 9   diabetes         110527 non-null  int64
 10  alcoholism       110527 non-null  int64
 11  handicap         110527 non-null  int64
 12  sms              110527 non-null  int64
 13  show_up          110527 non-null  int64
dtypes: datetime64[ns, UTC](2), int64(8), object(4)
memory usage: 11.8+ MB

In [323]:
df.corr()

,age,scholarship,hipertension,diabetes,alcoholism,handicap,sms,show_up
age,1.000000,-0.092457,0.504586,0.292391,0.095811,0.078033,0.012643,0.060319
scholarship,-0.092457,1.000000,-0.019729,-0.024894,0.035022,-0.008586,0.001194,-0.029135
hipertension,0.504586,-0.019729,1.000000,0.433086,0.087971,0.080083,-0.006267,0.035701
diabetes,0.292391,-0.024894,0.433086,1.000000,0.018474,0.057530,-0.014550,0.015180
alcoholism,0.095811,0.035022,0.087971,0.018474,1.000000,0.004648,-0.026147,0.000196
handicap,0.078033,-0.008586,0.080083,0.057530,0.004648,1.000000,-0.024161,0.006076
sms,0.012643,0.001194,-0.006267,-0.014550,-0.026147,-0.024161,1.000000,-0.126431
show_up,0.060319,-0.029135,0.035701,0.015180,0.000196,0.006076,-0.126431,1.000000

In [324]:
df.describe()

,age,scholarship,hipertension,diabetes,alcoholism,handicap,sms,show_up
count,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026,0.798067
std,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873,0.401444
min,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000

In [325]:
# Check missing values
df.isnull().sum()

patient_id         0
appointment_id     0
gender             0
scheduled_day      0
appointment_day    0
age                0
neighbourhood      0
scholarship        0
hipertension       0
diabetes           0
alcoholism         0
handicap           0
sms                0
show_up            0
dtype: int64

In [326]:
# Check duplicated values
df.duplicated().sum()

0

In [327]:
# Adjust values age (115 years, -1 year)

In [328]:
df[df.age>100]

,patient_id,appointment_id,gender,scheduled_day,appointment_day,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handicap,sms,show_up
58014,976294799775439.0,5651757,F,2016-05-03 09:14:53+00:00,2016-05-03 00:00:00+00:00,102,CONQUISTA,0,0,0,0,0,0,1
63912,31963211613981.0,5700278,F,2016-05-16 09:17:44+00:00,2016-05-19 00:00:00+00:00,115,ANDORINHAS,0,0,0,0,1,0,0
63915,31963211613981.0,5700279,F,2016-05-16 09:17:44+00:00,2016-05-19 00:00:00+00:00,115,ANDORINHAS,0,0,0,0,1,0,0
68127,31963211613981.0,5562812,F,2016-04-08 14:29:17+00:00,2016-05-16 00:00:00+00:00,115,ANDORINHAS,0,0,0,0,1,0,0
76284,31963211613981.0,5744037,F,2016-05-30 09:44:51+00:00,2016-05-30 00:00:00+00:00,115,ANDORINHAS,0,0,0,0,1,0,1
90372,234283596548.0,5751563,F,2016-05-31 10:19:49+00:00,2016-06-02 00:00:00+00:00,102,MARIA ORTIZ,0,0,0,0,0,0,1
97666,748234579244724.0,5717451,F,2016-05-19 07:57:56+00:00,2016-06-03 00:00:00+00:00,115,SÃO JOSÉ,0,1,0,0,0,1,1

In [329]:
df.drop(df[df.age>100].index, inplace=True)

In [330]:
# Reset index

In [331]:
df = df.reset_index(drop=True)
# df.reset_index(drop=True, inplace=True)

In [333]:
# Handle repeating patient_id

In [334]:
df.patient_id.value_counts()

822145925426128.0    88
99637671331.0        84
26886125921145.0     70
33534783483176.0     65
6264198675331.0      62
                     ..
832938199785.0        1
166425481318187.0     1
68547511593577.0      1
71987213354565.0      1
368656762679332.0     1
Name: patient_id, Length: 62295, dtype: int64

In [ ]:
# Analyse show up rate

In [338]:
df.show_up.sum()/len(df.show_up)

0.7980817951501991